{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %} </br> </br>
<a href="/profile/{{ user.username}}"> show profile </a> </p> 
{% endif %} 
<p>
<h2> latest projects </h2>
{% for project in projects %} 
	<p>
	Project Name: {{ project.name }} </br>
	Project Description: {{ project.description }} </br>
	Project Creator: {{ project.creator }} </br>
	Sound Cloud:  </br>
		<iframe width="70%" height="120" scrolling="no" frameborder="no" src="{{ project.soundCloud }}"></iframe>
	</p>
	
	
{% endfor %}
{% endblock %}
