{% extends 'base.html' %}
{% load friendshiptags %}
{% block content %}
<p>
<a href="addProject"> add new project</a></p>
</br>
</br>
<h3> Profile </h3>
<p> User Name : {{ profile.user }} </p>
<p> Instruments : 
{% for instrument in profile.instruments.all %}
	{{ instrument.name }} </br>
{% endfor %}

<p> Roles:  
{% for role in profile.role.all %}
	{{ role.name }} </br>
{% endfor %}	
</p> 

<p> Digital Audio Workstation: 
{% for daw in profile.software.all %} 
	{{ daw.name }} </br>
{% endfor %}
</p>
	
</p>

<h3> Friends </h3>
{% friends user %}


{% endblock %}
