{% extends 'base.html' %}
{% load friendshiptags %}
{% block content %}
<p>
{% if user == profile.user %}
<a href="/addProject"> add new project</a></p>
{% endif %}
</br>
</br>
<h3> Profile </h3>
{% if not areFriends %}
<a href="/addFriend/{{ profile.user}}"><h6> Add as a friend</h6></a>
{% endif %}
<p> User Name : {{ profile.user }} </p>
<p> Instruments : 
{% for instrument in profile.instruments.all %}
	{{ instrument.name }} </br>
{% endfor %}

<p> Roles:  
{% for role in profile.role.all %}
	{{ role.name }} </br>
{% endfor %}	
</p> 

<p> Digital Audio Workstation: 
{% for daw in profile.software.all %} 
	{{ daw.name }} </br>
{% endfor %}
</p>
<a href="/editProfile"> Edit Profile </a>

</p>

<h3> Friends </h3>
{% for friend in friends %}
	<a href="/profile/{{ friend.username }}" > {{friend.first_name}} {{ friend.last_name }} </a> </br>
{% endfor %}
<h3> Projects </h3>
{% for project in projects %} 
	<a href="/projects/{{ project.id }}"> {{project.name}}</a> </br>
{% endfor %}

{% endblock %}

