{% extends 'base.html' %}
{% load friendshiptags %}
{% block content %}
</br></br>
<a href="/profile/{{user.username}}"> Profile </a>
</br> 
<p> Project Name: {{ project.name }} </p>
<p> Project Description: {{ project.description }} </p>
<p> Project started on : {{ project.date_created}}</p>
<p> Sound Cloud : <br>
	<iframe width="70%" height="120" scrolling="no" frameborder="no" src="{{ project.soundCloud }}"></iframe>
</br>

{% if user == project.creator %}
<a href={% url jamhub.views.edit_project project.id %}> Edit Project </a>  &nbsp; &nbsp;
<a href={% url jamhub.views.delete_project project.id %}> Delete Project </a>  
{% endif %}
{% endblock %}