<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	 {% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %} JamHub {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>
	{% if user.is_authenticated %}
		<p><a href="/logout" > logout </a></p>
		<p><a href="/showProfile"> show profile </a> </p> 
	{% else %}
		<a href="{% url socialauth_begin 'facebook' %}" > Login Facebook </a>
	{% endif %}
	
	<a href="/home"> Home </a>
  {% block content %}{% endblock %}
  <body>
  </body>
</html>